body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-title {
  color: purple;
  font-size: 24px;
  margin-left: 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-preview {
  width: 60vw;
  height: 400px;
  margin: 15px auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.city-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFC476;
  font-size: 60px;
}

.city-img {
  top: 50%;
  /* left: 50%; */
  transform: translate(0, -25%);
}

.city-container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.city-stats {
  margin: 10px auto;
  padding: 0 10px;
}

.city-stats-text {
  font-size: 22px;
  margin: 10px auto;
}

.admin-body {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.admin-new-city-side, .admin-city-list-side {
  width: 400px;
}

.admin-page-button {
  width: 50px;
  height: 50px;
  border-radius: 75px;
  margin: 15px 10px;
}

.admin-page-button:focus {
  outline: none;
  
  }

.apb-e {
  background-color: orange;
}

.apb-d {
  background-color: red;
  color: white;
}

.apb-s {
  background-color: #FFC476;
}

.admin-input {
  width: 200px;
  height: 35px;
  font-size: 18px;
}

.admin-city-block {
  margin: 10px;
}

.admin-city-name {
  font-size: 18px;
}

.admin-form-label {
  width: 150px;
  height: 35px;
  font-size: 18px;
}

.admin-form-input-container {
  width: 400px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}